@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow: hidden;
}
canvas {
  display: block;
}
.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.twitter__logo {
  position: absolute;
  bottom: 40;
  right: 4vw;
  width: 50;
  z-index: 5;
}
.menu__container {
  display: flex;
  position: fixed;
  z-index: 10;
  top: 3.5vh;
  right: 4vw;
  cursor: pointer;
}
.menu__text {
  margin-right: 2rem;
  color: #fff;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 2.4rem;
  font-family: "Inter", sans-serif;
}
.footer__credit {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  z-index: 20;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 2;
  z-index: 5;
}
.footer__credit a {
  color: #fff;
  margin-right: 10px;
  text-decoration: unset;
  color: aqua;
}
.content {
  position: absolute;
  bottom: 14%;
  left: 10%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  text-align: center;
  z-index: 20;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 2;
  z-index: 5;
}
h2 {
  font-family: "Italiana", serif;
  font-size: 14vw;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 0.7em;
  margin: 0;
  padding: 0;
  color: #fff;
}
